<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>PreguntasRespuestas</servlet-name>
        <servlet-class>controlador.PreguntasRespuestas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Consultar</servlet-name>
        <servlet-class>controlador.Consultar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GestionLogin</servlet-name>
        <servlet-class>controlador.GestionLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Autores</servlet-name>
        <servlet-class>controlador.Autores</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Historial</servlet-name>
        <servlet-class>controlador.Historial</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PreguntasRespuestas</servlet-name>
        <url-pattern>/PreguntasRespuestas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Consultar</servlet-name>
        <url-pattern>/Consultar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GestionLogin</servlet-name>
        <url-pattern>/GestionLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Autores</servlet-name>
        <url-pattern>/Autores</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Historial</servlet-name>
        <url-pattern>/Historial</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
